body {
    margin: 0;
    text-align: center;
}


.hero {
    background: #6943fe;
    color: white;
    font-size: small;
    font-weight: bold;
    padding: 30px;
    
  
}

.main {
    
    background: #f4f4f4;
    padding: 30px;
    
}

.length, .volume, .mass {
    background-color: white;
    color: gray;
    padding: 5px;
    margin-bottom: 20px;
}

#convert-btn {
    font-size: small;
    font-weight: bold;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px ;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
}

#input-el{
    
    width: 90px;
    border-radius: 5px;
    background-color: #6943fe;
    border: thin solid #f4f4f4;
   
    
       
}

input{
   color: white;
   font-size: 75px;
   font-weight: bold;
   text-align: center;
   
}

#input-el::placeholder{
    color: white;
    text-align: center;
    
}


